/* classes used for my website */

.grid-2 {
    display: grid;
    grid-template-columns: auto auto;
}

.navbar {
    display: grid;
    grid-template-columns: auto auto;
    border-bottom: 1px solid black;
    background-color:lightskyblue;
  }

.fixed-top {
    position: fixed;
    top: 0;
    width: 99%;
  }

  .text-right{
    text-align: right;
  }
  .text-center{
    text-align: center;
  }

  .ucla-photo {
      width: 50%;
  }

  .photo-padding {
      padding: 10px;
  }